/* Responsive  Breakpoints css */
@media (max-width: 1200px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 32px 3%;
    }

    section {
        padding: 160px 3% 32px;
    }

    .services {
        padding-bottom: 112px;
    }

    .portfolio {
        padding-bottom: 112px;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 32px 3%;
    }
}

@media (max-width: 768px) {

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 16px 3%;
        background: var(--bg-color);
        border-top: 1.6px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        margin: 48px 0;
        font-size: 25px;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 40px;
    }

    .home-content h1 {
        font-size: 80px;
    }

    .home-img img {
        width: 70vw;
        margin-top: 64px;
    }

    .about {
        flex-direction: column;
    }

    .about img {
        width: 70vw;
        margin-top: 64px;
    }

    .services h2 {
        margin-bottom: 48px;
    }

    .portfolio h2 {
        margin-bottom: 48px;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-content h3 {
        margin-top: 10px;
    }

    .home-content .btn {
        margin-bottom: 20px;
    }

    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 32px;
        text-align: center;
    }
}